*.py[cod]
*.log
*.swp
*.so
*.bak
.cache/*
*.zip

**/Examples/**/output
**/Examples/**/output_bak
Examples/simplest
create_tableau_path_map/*

# Distribution / packaging
build/
dist/
fasttrips.egg-info/

# test
sfcta/
psrc/

#PyCharm IDE Files
.idea/

